@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat:wght@600;700&family=Orbitron:wght@500&family=Poppins:wght@300;400;500&family=Roboto:wght@400;500&family=Varela+Round&display=swap");

body {
  scroll-behavior: smooth;
  background-color: #f9ffea;
  margin: 0;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}


/* Scroll-Bar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #eeeeee;
  box-shadow: inset 0 0 5px #545658;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  box-shadow: inset 0 0 5px #545658;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e60965;
}

/* Sections */

.main {
  height: 100%;
  width: 100%;
}

.main-left {
  overflow: hidden;
  border-right: #eeeeee solid;
  border-width: 3px;
}

.main-right {
  overflow: auto;
  height: 98vh;
}

/* Menu */

.logo {
  padding-top: 30px;
  font-family: "Varela Round", sans-serif;
}

.logo h2 {
  font-size: 1.6rem;
}

.logo span {
  color: #e60965;
}

.menu {
  height: 100vh;
  overflow: hidden;
}

.menu-section {
  padding-top: 10px;
}

.menu-head {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  color: gray;
}

.menu-list {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
}

.a:hover {
  color: #e60965;
}

.a:active {
  color: #e60965;
}
/* Header */

.header {
  margin-top: 20px;
  height: 80px;
  width: 90%;
  margin-left: 10px;
  overflow: hidden;
}

.section-btn span {
  margin-top: 10px;
  color: #423f3e;
  font-size: 0.9rem;
  font-weight: 600;
}

.search {
  margin-top: 10px;
  margin-left: 90px;
}

.sm{
  display: none;
}

/* Home */

/* Home-Banner */

.banner {
  width: 85%;
  height: 330px;
  border: none;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 20.8px 33.4px rgba(0, 0, 0, 0.086),
    0 10px 50px rgba(0, 0, 0, 0.12);
}

.banner-img {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background-color: black;
}

.banner-txt {
  font-family: "Poppins", sans-serif;
  font-size: 2.3rem;
  color: #f7f7f7;
  text-shadow: -1px 1px 0 #1a1a40, 1px 1px 0 #1a1a40, 1px -1px 0 #1a1a40,
    -2px -2px 0 #1a1a40;
}

.banner-box {
  margin-top: 170px;
}

.ab:hover {
  color: white;
}

.ab:active {
  color: white;
}

/* Home-Featured */

.featured {
  width: 85%;
  height: 350px;
  margin-left: -15px;
  margin-top: 30px;
}

.featured-go{
  border: solid #e60965 2px;
  border-radius: 100px;
}


.featured-grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
}

/* Featured-Card */

.box {
  height: 270px;
  width: 210px;
  border: none;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 15.3px 10.9px rgba(0, 0, 0, 0.072), 0 20.8px 20.4px rgba(0, 0, 0, 0.086),
    0 10px 50px rgba(0, 0, 0, 0.12);
}

.box-img {
  height: 100%;
  width: 100%;
}

/* Movie */

.movie-main {
  margin-left: 50px;
  width: 90%;
}

.movie-backdrop img {
  width: 100%;
  height: 350px;
}

.movie-poster img {
  height: 280px;
}

.movie-poster {
  margin-top: -160px;
  margin-left: 20px;
  border: none;
  background-color: #f9ffea;
  width: 95%;
}

.poster-box {
  width: 100%;
  margin-left: 2px;
}

.poster-box p {
  color: #545658;
}

.movie-rating {
  width: 95px;
  font-size: 2rem;
}

.movie-rating span {
  font-size: 1rem;
}

.age {
  border-style: solid;
  height: 50px;
  border-radius: 10px;
  margin-top: 10px;
  font-family: "Orbitron", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}

.movie-info h1 {
  margin-top: 15px;
  font-family: "Montserrat", sans-serif;
}

.movie-details {
  margin-left: 15px;
  white-space: pre-wrap;
  font-size: 0.9rem;
}

.movie-overview {
  margin-left: 15px;
  font-family: "Poppins", sans-serif;
}

.movie-overview h3 {
  font-size: 1rem;
}

.lg-detail{
  display: none;
}

/* Cast */

.cast {
  margin-top: 30px;
}

.cast-card {
  width: 150px;
  border-style: none;
  background-color: #f9ffea;
}

.cast-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 25px;
}

/* List */

.list-main {
  margin-top: 20px;
  margin-left: 50px;
  width: 70%;
}

.list {
  width: 85%;
  height: 100px;
  margin-top: 20px;
  border: none;
  background-color: #f9ffea;
}

.list-img {
  height: 100px;
}

.list-head {
  margin-top: -10px;
  margin-left: -30px;
  font-size: 1rem;
}

.list-genre {
  margin-top: -10px;
  margin-left: -5px;
}

.list-genre p {
  font-size: 0.8rem;
  color: #545658;
}

.list-rating {
  margin-top: -20px;
  width: 280px;
  margin-left: -2px;
}

.list-rating h5 {
  margin-top: 5px;
  margin-left: -15px;
}

.lgl-list{
  display: none;
}

.pages {
  margin-top: 20px;
  width: 60%;
}

.pages span {
  color: #e60965;
  border-color: #e60965;
}

/* Footer */
  .footer{
    font-size: 0.6rem;
    text-align: center;
    margin-top: 30px;
  }

/* Mobile View */


@media only screen and (max-width: 768px){

  html,body{
    margin:0;
    padding:0;
    overflow-x:hidden;
}
  body{
    width: 100vw;
    scroll-behavior: smooth;
  }
  ::-webkit-scrollbar {
    display:none;
  }

  /* Main */
  

  .main {
    width: 110vw;
  }

  .main-left{
    width: 2px;
    display: none;
  }
  .main-right{
   height: 118vh;
   overflow-x: hidden;
  }
  .menu{
    display: none;
  }
  .home{
    margin-top: 20px;
  }

  /* Header */
  .header{
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    height: 120px;
    width: 90%;
  }
  .sec{
    width: 90px;
  }
  .sm-search{
    display: none;
  }
  .section-btn{
    margin-top: 10px;
    margin-left: 20px;
    width: 400px;
  }
  .sm{
    text-align: center;
    display: block;
  }

  /* Banner */
  .banner{
    margin-left: -14px;
    width: 95vw;
    height: 200px;
  }

  .banner-box {
    margin-top: 80px;
    width: 100%;
  }

  .banner-txt{
    font-size: 1.2rem;
  }

  /* Featured */
  .featured{
    height: 240px;
    width: 105vw;
    overflow: hidden;
    margin-left: -40px;
  }

  .featured-grid{
    height: 240px;
    width: 100vw;
    overflow: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  .box {
    height: 180px;
    width: 150px;
  }
  .featured-go{
    border: solid #e60965 2px;
    border-radius: 100px;
  }

  /* Movie */
  .movie-main{
    margin-top: 30px;
    margin-left: -20px;
    width: 100vw;
  }
  .movie-backdrop img{
    width: 97vw;
    height: 250px;
  }
  .movie-poster img{
    height: 200px;
  }
  .movie-poster{
    width: 180px;
    margin-left: 95px;
    margin-top: -90px;
    height: 210px;
  }
  .sm-poster{
    display: none;
  }
  .movie-info{
    margin-top: -10px;
    text-align: center;
    margin-left: 15px;
  }
  .movie-details{
    width: 110%;
    text-align: left;
    margin-left: -15px;
    font-size: 0.8rem;
  }
  .sm-1{
    width: 110px;
  }
  .sm-2{
    width: 180px;
  }
  .movie-overview{
    width: 130%;
    margin-left: -40px;
    text-align: left;
  }
  .sm-detail{
    display: none;
  }
  .lg-detail{
    display: flex;
  }
  .cast-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    margin-left: 40px;
  }

  /* List */
  .list-title{
    margin-left: 40px;
  }
  .list-main{
    margin-top: 30px;
  }
  .list{
    height: 340px;
    width: 80vw;
    margin-left: -20px;
    margin-top: 35px;
  }
  .list-img{
    margin-top: 10px;
    height: 200px;
  }
  .list-genre{
    width: 160px;
    margin-left: -30px;
  }
  .sml-list{
    display: none;
  }
  .lgl-list{
    display: flex;
  }
  .list-rating{
    width: 120px;
    margin-left: -25px;
  }
  .sml-1{
    width: 55px;
  }
  .sml-info{
    margin-top: -72px;
    margin-left: 220px;
    width: 60px;
    height: 60px;
  }
  .pages{
    width: 350px;
    margin-left: -75px;
  }
  .pg-btn{
    margin-top: 10px;
    width: 80px;
  }

  
  /* Footer */
  .footer{
    font-size: 0.6rem;
    text-align: center;
    margin-top: 10px;
  }
}